<tr>
    <td><%= detail.place %></td>
    <td><%= detail.latitude %></td>
    <td><%= detail.longitude %></td>
    <td><%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'are you sure?', remote: true }, class: "delete"%></td>
</tr>
