
  <div class="col-md-6 col-md-offset-3">
<h1>New entry</h1>
      <%= form_for((Detail.new), :id => 'detail') do |f| %>
      <%= f.label :place %>
      <%= f.text_field :place, class: 'form-control' %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude, class: 'form-control'%>
      
      <%= f.label :longitude %>
      <%= f.text_field :longitude, class: 'form-control' %>

      
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>