  <div class="col-md-6 col-md-offset-3">
<h1>Cities</h1>
<p>Please upload or import a csv format file
	</p>
<br>
<%= form_tag import_details_path, multipart: true, class: 'form-inline' do %>
<div class="form-group">
<%= file_field_tag :file, class:'' %>
</div>

<div class="form-group">
<%= submit_tag "import CSV", class: 'btn btn-info' %>
  </div>
  <% end %><br>
<div class="table-responsive">
<table id="postnew", class="table table-condensed table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>place</th>
      <th>latitude</th>
      <th>longitude</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
<%= render 'details/detail', detail: detail %>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="form-group">
<%= link_to "Export csv", details_path(format: :csv), class: 'btn btn-primary' %>
</div>

<%= render 'details/form' %>
</div>